adf-data-gang/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-data-gang"
		},
		"ls_databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks'"
		},
		"ls_susbecant_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_susbecant'"
		},
		"ls_datagang_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sadatagang.dfs.core.windows.net"
		},
		"ls_key_data_gang_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-datagang.vault.azure.net/"
		},
		"ls_susbecant_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://susbecantt.dfs.core.windows.net/"
		},
		"triggerEvent_SIASUS_properties_pipeline_copy_SIASUS_parameters_container": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"triggerEvent_SIASUS_properties_pipeline_copy_SIASUS_parameters_folder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"triggerEvent_SIASUS_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/d44271f6-fec8-44b4-b79f-a0fd742c7602/resourceGroups/susbecantt/providers/Microsoft.Storage/storageAccounts/susbecantt"
		},
		"triggereEvent_SIHSUS_properties_pipeline_copy_SIHSUS_parameters_container": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"triggereEvent_SIHSUS_properties_pipeline_copy_SIHSUS_parameters_folder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"triggereEvent_SIHSUS_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/d44271f6-fec8-44b4-b79f-a0fd742c7602/resourceGroups/susbecantt/providers/Microsoft.Storage/storageAccounts/susbecantt"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_copy_SIASUS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data to Datagang raw SIASUS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "SIASUS",
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dataset_origem_susbecant",
								"type": "DatasetReference",
								"parameters": {
									"container": "susbecantt",
									"folder": "SIASUS"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dataset_destino_datagang",
								"type": "DatasetReference",
								"parameters": {
									"container": "raw",
									"folder": "SIASUS"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					}
				},
				"variables": {
					"container": {
						"type": "String"
					},
					"folder": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-10T21:01:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_origem_susbecant')]",
				"[concat(variables('factoryId'), '/datasets/dataset_destino_datagang')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_copy_SIHSUS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data to Datagang raw SIHSUS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "SIHSUS",
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dataset_origem_susbecant",
								"type": "DatasetReference",
								"parameters": {
									"container": "susbecantt",
									"folder": "SIHSUS"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dataset_destino_datagang",
								"type": "DatasetReference",
								"parameters": {
									"container": "raw",
									"folder": "SIHSUS"
								}
							}
						]
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy data to Datagang raw SIHSUS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/treissil@emeal.nttdata.com/Bronze/etl-bronze",
							"baseParameters": {
								"output": "*.csv"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					}
				},
				"variables": {
					"container": {
						"type": "String"
					},
					"folder": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-10T21:01:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_origem_susbecant')]",
				"[concat(variables('factoryId'), '/datasets/dataset_destino_datagang')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_destino_datagang')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datagang",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datagang')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_origem_susbecant')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_susbecant",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_susbecant')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3457327856710425.5.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "10.4.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datagang')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_datagang_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_key_data_gang",
							"type": "LinkedServiceReference"
						},
						"secretName": "secret-storagedatagang"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_key_data_gang')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_key_data_gang')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ttt",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_key_data_gang_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_susbecant')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_susbecant_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_susbecant_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerEvent_SIASUS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_copy_SIASUS",
							"type": "PipelineReference"
						},
						"parameters": {
							"container": "[parameters('triggerEvent_SIASUS_properties_pipeline_copy_SIASUS_parameters_container')]",
							"folder": "[parameters('triggerEvent_SIASUS_properties_pipeline_copy_SIASUS_parameters_folder')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/susbecantt/blobs/SIASUS/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerEvent_SIASUS_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_copy_SIASUS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggereEvent_SIHSUS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_copy_SIHSUS",
							"type": "PipelineReference"
						},
						"parameters": {
							"container": "[parameters('triggereEvent_SIHSUS_properties_pipeline_copy_SIHSUS_parameters_container')]",
							"folder": "[parameters('triggereEvent_SIHSUS_properties_pipeline_copy_SIHSUS_parameters_folder')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/susbecantt/blobs/SIHSUS",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggereEvent_SIHSUS_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_copy_SIHSUS')]"
			]
		}
	]
}